.wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.tabBtn {
  height: 20px;
  width: 60px;
  border-radius: 10%;
  border: 1px;
  background-color: grey;
}

.redButtonSmall {
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px;
  background-color: fireBrick;
}

.redButton {
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px;
  background-color: fireBrick;
}

.upgrade {
  height: 100px;
  width: 130px;
  border-radius: 10%;
  border: 2px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}

.multUpgrade {
  border-radius: 10%;
  border: 2px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
}
  
.breakLimitButton {
  border-radius: 25%;
  border: 2px;
  background-color: maroon;
  display: inline-block;
  vertical-align: middle;
}

.topLayer {
  margin: auto;
  left: 0;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 5px;
}

.lowerLayer {
  margin: auto;
  padding-left: 15px;
  vertical-align: top;
}

.orangeButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px;
  background-color: orangeRed;
}
